<div class= "wrapper wrapper_padding clearfix">

  <div class="col-1 about homepage_content">
    <h2>About</h2>
    <hr>
    <p>I am a recent graduate from Dev Bootcamp, and I'm passionate about learning anything that leads to personal and professional growth as a web developer.</p>
    <p>I also happen to love pizza, working on cars, and geeking out to Sci-Fi movies and television series'!</p>
    <p>On this page you'll find links to some of the projects that I've worked on from scratch, either with a team or on my own.  You'll also hopefully learn a little about me personally.</p>
    <p>I'd love to hear your thoughts and feedback so please feel free to <%= link_to "contact me", new_contact_path %> at any time!</p>
  </div>

  <div class="col-2 homepage_content">
    <h2>Some Of My Thoughts</h2>
    <hr>

    <% @post.each do |post| %>
      <h3><a href="#"><%= link_to post.title, post %></a></h3>
      <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
    <% end %>

  </div>

  <div class="col-3 homepage_content">
    <h2>Stuff I've Built</h2>
    <hr>

    <% @project.each do |project| %>
      <h3><a href="#"><%= link_to project.title, project %></a></h3>
      <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
    <% end %>
  </div>
</div>